apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-pool
  namespace: metallb-system
spec:
  addresses:
    # IP range matching the node network (192.168.177.x)
    - 192.168.177.240-192.168.177.250
  autoAssign: true
