apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-pool
  namespace: metallb-system
spec:
  addresses:
    # Update this IP range to match your network
    - 192.168.1.240-192.168.1.250
  autoAssign: true
